server:
  port: 8855

spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./blog_app;
  jpa:
    hibernate:
     ddl-auto: create # in prod we have to use update not create